setuptools

# FastAPI et Uvicorn pour l'API
fastapi
uvicorn

# Manipulation des données
pandas
numpy

# Machine Learning
scikit-learn
joblib

# Dashboard
streamlit

# Tests
pytest
httpx

# Visualisation & interprétabilité
matplotlib
shap
requests
Pillow